body {
  font-family: Arial, Helvetica, sans-serif;
}
.padding-top {
  padding-top: 60px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.title_block {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #263244;
  text-align: center;
  line-height: 60px;
}
.title_block::after {
  content: "";
  display: block;
  margin: 0 auto; 
  height: 4px;
  width: 72px;
  background: #d17700;
}
.button_up {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:rgb(76, 99, 202);
  position: fixed;
  bottom: 20px;
  right: 40px;
  opacity: 0;
  z-index: 2;
}
.button_up:hover {
  box-shadow:inset 0 0 13px 5px rgb(7, 9, 202);
  transform: scale(0.9);
}
.button_up img {
  transform: rotate(180deg) translateY(8px);
  width: 100%;
  height: 100%;
}
/*header*/
.header {
  width: 100%;
}
.nav {
  width: 100%;
  height: 60px;
  background: rgba(52, 64, 81, 0.85);
  color: #fff;
  position: fixed;
  z-index: 1;
}
.nav_wrapper {
  height: 100%;
}
.logo {
  font-size: 23px;
  float: left;
  line-height: 60px;
  transition: all 0.5s;
}
.logo:hover {
  transform: scale(1.4) skew(10deg, 5deg);
}
.menu {
  float: right;
}
.menu ul li {
  float: left;
  line-height: 60px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.menu ul li:hover {
  transform: scale(1.4) skew(10deg, 5deg);
}
.menu ul li a {
  color: #fff;
  text-decoration: none;
}
.menu ul li:not(:last-child) {
  margin-right: 42px;
}
/*header*/

main {
  width: 100%;
}

/*main*/
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/i.png") 95% bottom/auto 85% no-repeat,
    url("../img/fone_main_start.png") 50% / cover no-repeat;
}
.start_info {
  position: absolute;
  max-width: 530px;
  margin-left: 15px;
  top: 25%;
  right: 60%;
  box-shadow: 4px 5px 7px #476ea8;
  border-radius: 10px;
  padding: 5px;
  opacity: 0.7;
  transition: all 0.5s;
}
.start_info:hover {
  opacity: 1;
  box-shadow: -4px -5px 7px #476ea8;
}
.start_info h1 {
  color: #2c384a;
  font-weight: 500;
  font-size: 79px;
  text-align: center;
}
.start_info p {
  color: #79818d;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 55px;
}
.input {
  width: 100%;
  display: flex;
  justify-content: center;
}
input[type="button"] {
  width: 126px;
  height: 42px;
  border: 0.5px solid #6d7682;
  border-radius: 5px;
  color: #6d7682;
  font-weight: 500;
  font-size: 19px;
  transition: transform 0.5s;
}
input[type="button"]:first-child {
  margin-right: 26px;
}
input[type="button"]:hover {
  transform: scale(1.2);
}
/*main*/

/*main_about_me*/
.img_container {
  max-width: 200px;
  margin: 59px auto 22px;
}
.about_me_text {
  width: 730px;
  margin: 0 auto;
  font-family: Calibri;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
}
.about_me_text p:first-child {
  margin-bottom: 44px;
}
#download_resume {
  width: 157px;
  text-align: right;
  padding: 0px 10px;
  height: 34px;
  border: 0.5px solid #6f707e;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #6f707e;
  background: url(../img/download_icon.png) 3% 50% no-repeat
    rgba(255, 255, 255, 0);
  display: block;
  margin: 33px auto 110px;
  transition: all 0.3s;
}
#download_resume:hover {
  background: rgba(111, 112, 126, 0.4);
  transform: scale(1.1);
  text-align: center;
  cursor: pointer;
}
/*main_about_me*/

/*main_scills*/
.main_skills {
  background: url(../img/fon_skills.png) center / cover no-repeat;
  height: 532px;
}
.main_skills_container {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}
.skills_item {
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms;
}
.skills_item:hover {
  transform: scale(1.1);
}
.skills_item h4 {
  margin: 34px 0 11px;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: -0.06em;
  color: #cf7600;
}
.skills_item p {
  text-align: center;
  font-family: Calibri;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
}
/*main_scills*/

/*main_cases*/
.main_cases {
  height: calc(100vh - 90px);
  /* margin-bottom: 150px; */
  padding-top: 40px;
}
.main_cases p {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 37px;
  font-family: Calibri;
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
}
.cases_slider {
  width: 70%;
  min-height: 60%;
  max-height: 590px;
  position: relative;
  background: url(../img/slider/fon_1.png) center/ auto 100% no-repeat;
  transition: all 400ms;
  margin-bottom: 39px;
  box-shadow: -6px 4px 14px #cf7600;
  border-radius: 10px;
}
.button_slider {
  height: 6%;
  width: 35px;
  background: #cf7600;
  position: absolute;
  border-radius: 5px;
}
.button_slider img {
  height: 100%;
  display: block;
  margin: 0 auto;
}
.button_slider:hover {
  box-shadow: 2px 2px 5px #cf7600;
}
.button_left {
  transform: rotate(90deg);
  left: 0;
  top: 47%;
}
.button_right {
  transform: rotate(270deg);
  right: 0;
  top: 47%;
}
.about_site {
  display: flex;
  justify-content: space-between;
}
.about_site_left_container h5 {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #384354;
}
.about_site_left_container p {
  margin: 14px 0;
  font-family: Calibri;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
  text-align: left;
}
.about_site_left_container a {
  margin-top: 22px;
  display: block;
  width: 200px;
  height: 44px;
  background-color: #63b5ae;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #ffffff;
  text-align: center;
}
.about_site_left_container a:hover {
  box-shadow: -2px -2px 5px #63b5ae;
}
.about_site_right_container {
  width: 78%;
}
.about_site_right_container h6 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #384354;
}
.about_site_right_container p {
  font-family: Calibri;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #3f495a;
  text-align: left;
}
/*main_cases*/

/*main_price*/
.price_container {
  margin: 250px auto 0;
  width: 80%;
}
.price_container h2 {
  text-align: center;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #1c2534;
  margin-bottom: 54px;
}
.price_container h6 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #1c2534;
}
.price_container select {
  width: 100%;
  height: 57px;
  background: #eeeeee;
  border-radius: 5px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #737373;
  padding-left: 23px;
  margin: 22px 0 44px;
}
#form_price::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #d1d1d1;
  margin-bottom: 20px;
}
.price_container .term,
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.06em;
  margin-bottom: 20px;
}
/*main_price*/

/*main_statistics*/
.main_statistics {
  margin-top: 145px;
  padding-top: 100px;
  height: 500px;
  width: 100%;
  background: url(../img/fon_statistic.png) center / cover no-repeat;
}
.statistics_container {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistics_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms;
}
.statistics_item h3 {
  font-family: Impact;
  font-size: 37px;
  line-height: 20px;
  font-weight: 400;
  color: #323e4f;
  margin: 30px;
}
.statistics_item p {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.06em;
}
.statistics_item:hover {
  transform: rotate(8deg) scale(1.17);
}
/*main_statistics*/

/*main_comment*/
.comment_container img {
  display: block;
  margin: 58px auto 33px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.comment_text_container {
  width: 50%;
  margin: 0 auto;
}
.comment_text_container p {
  text-align: center;
}
.who_comments {
  margin-top: 33px;
}
.comment_button_block {
  margin: 48px auto 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment_button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #cfd2d7;
}
.comment_button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.comment_button:nth-child(2) {
  margin: 0 14px;
}
.comment_button_active {
  width: 11px;
  height: 11px;
  background: #c96500;
}
/*main_comment*/

/*main_contacts*/
.main_contacts {
  background: url(../img/fon_contacts.png) 0 0 / cover no-repeat;
  /* height: 810px; */
  padding: 100px 0 65px;
}
.main_contacts .title_block {
  color: #fff;
}
.main_contacts > p {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 37px;
  font-family: Calibri;
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #fff;
}
.contacts_container {
  width: 50%;
}
.contacts_contact {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contacts_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 130px;
}
.contacts_items:hover {
  transform: scale(1.1);
}
.contacts_items p {
  margin-top: 11px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #fff;
  text-align: center;
}
.contacts_form h3 {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #ffffff;
  margin-top: 37px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 43px;
}
.contacts_container input[type="text"],
input[type="email"] {
  width: 48%;
  height: 34px;
  padding-left: 13px;
  background: rgba(209, 213, 219, 0.75);
  font-size: 16.7px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #5d5d5e;
}
.contacts_container textarea {
  width: 100%;
  margin-top: 14px;
  padding-left: 13px;
  padding-top: 14px;
  background: rgba(209, 213, 219, 0.75);
  font-size: 16.7px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: #5d5d5e;
}
.contacts_container input[type="submit"] {
  width: 125px;
  height: 46px;
  border: 0.5px solid #f9faff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.06em;
  display: block;
  margin: 28px auto 0;
}
.contacts_container input[type="submit"]:hover {
  box-shadow: inset 0 0 10px 5px #f9faff;
  border-radius: 10px;
  cursor: pointer;
}
.contacts_social_networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  margin: 70px auto;
}
.contacts_social_networks img:hover {
  transform: scale(1.07);
}
/*main_contacts*/

.map {
  background: #354051;
}
.footer {
  height: 96px;
  width: 100%;
  background: #354051;
}
.footer p {
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 96px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #fff;
}
